body {
  font-family: Suisse Regular,sans-serif;
  color: #343a40;
  text-align: center;
}
#header-row {
  padding: 25px;
  margin: 25px;
}
.art-object-details, img {
  padding: 15px;
  margin: 15px;
}
.chart {
  padding: 10px;
  margin: 10px;
}

#genderVisRadial {
  background: #bfbfbf;
}
.menu {
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}
label.title {
  padding: 3px;
  margin: 0 15px 8px 15px;
  background: none; /* Remove to match background of image details rectangle */
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.form {
  margin-left: 4px;
}
.radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 2px;
  margin: 2px;
}
#colorVisWheel {
  margin: 5px;
  padding: 5px;
}
#art-object-details, .axes, table {
  font-size: 12px;
}
.title, table, #mosaic-message-0 {
  background: #F8F8F8;
  padding: 5px;
  letter-spacing: 0.05em;
  border: 0;
  border-radius: 8px;
}
.sentColLegend, label.title {
  letter-spacing: 0.05em;
}
img {
  max-width: 100%;
  height: auto;
  position: center;
}
.text-img {
  max-width: 100%;
  height: auto;
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
}
td {
  text-align: center;
  height: 100%;
  padding: 3px;
}
#title, #title-2 {
  font-weight: 600;
  padding-top: 8px;
}
#gender, #gender-2 {
  padding-bottom: 8px;
}
h1, h2, h3, .radialLabel {
  text-align: center;
  letter-spacing: 0.02em;
  color: black;
  font-weight: 200;
}
h1 {
  margin: 35px;
  margin-bottom: 5px;
}
h2 {
  margin: 35px;
  margin-bottom: 10px;
  padding: 35px 15px 10px 15px;
  font-size: 33px;
}
h3 {
  margin: 35px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.7;
}
.radialLabel {
  font-size: 10px;
}
.axes path {
  stroke: #343a40;
}
.axes {
  text-transform: lowercase;
}
.axes-label {
  text-transform: none;
}
.note {
  font-style: italic;
}
.axes text {
  fill: #343a40;
}

/* Tooltips */

.d3-tip {
  position: absolute;
  text-align: center;
  font-size: 12px;
  color: white;
  width: 150px;
  height: auto;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}





